@font-face {
    font-family: 'sf_bold';
    src: url('./assets/fonts/SF-Bold/sfuitext-bold-webfont.eot');
    src: url('./assets/fonts/SF-Bold/sfuitext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/SF-Bold/sfuitext-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/SF-Bold/sfuitext-bold-webfont.woff') format('woff'),
         url('./assets/fonts/SF-Bold/sfuitext-bold-webfont.ttf') format('truetype'),
         url('./assets/fonts/SF-Bold/sfuitext-bold-webfont.svg#sf_ui_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_heavy';
    src: url('./assets/fonts/SF-Heavy/sfuitext-heavy-webfont.eot');
    src: url('./assets/fonts/SF-Heavy/sfuitext-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/SF-Heavy/sfuitext-heavy-webfont.woff2') format('woff2'),
         url('./assets/fonts/SF-Heavy/sfuitext-heavy-webfont.woff') format('woff'),
         url('./assets/fonts/SF-Heavy/sfuitext-heavy-webfont.ttf') format('truetype'),
         url('./assets/fonts/SF-Heavy/sfuitext-heavy-webfont.svg#sf_ui_textheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_light';
    src: url('./assets/fonts/SF-Light/sfuitext-light-webfont.eot');
    src: url('./assets/fonts/SF-Light/sfuitext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/SF-Light/sfuitext-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/SF-Light/sfuitext-light-webfont.woff') format('woff'),
         url('./assets/fonts/SF-Light/sfuitext-light-webfont.ttf') format('truetype'),
         url('./assets/fonts/SF-Light/sfuitext-light-webfont.svg#sf_ui_textlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_medium';
    src: url('./assets/fonts/SF-Medium/sfuitext-medium-webfont.eot');
    src: url('./assets/fonts/SF-Medium/sfuitext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/SF-Medium/sfuitext-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/SF-Medium/sfuitext-medium-webfont.woff') format('woff'),
         url('./assets/fonts/SF-Medium/sfuitext-medium-webfont.ttf') format('truetype'),
         url('./assets/fonts/SF-Medium/sfuitext-medium-webfont.svg#sf_ui_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_regular';
    src: url('./assets/fonts/SF-Regular/sfuitext-regular-webfont.eot');
    src: url('./assets/fonts/SF-Regular/sfuitext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/SF-Regular/sfuitext-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/SF-Regular/sfuitext-regular-webfont.woff') format('woff'),
         url('./assets/fonts/SF-Regular/sfuitext-regular-webfont.ttf') format('truetype'),
         url('./assets/fonts/SF-Regular/sfuitext-regular-webfont.svg#sf_ui_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_semibold';
    src: url('./assets/fonts/SF-SemiBold/sfuitext-semibold-webfont.eot');
    src: url('./assets/fonts/SF-SemiBold/sfuitext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/SF-SemiBold/sfuitext-semibold-webfont.woff2') format('woff2'),
         url('./assets/fonts/SF-SemiBold/sfuitext-semibold-webfont.woff') format('woff'),
         url('./assets/fonts/SF-SemiBold/sfuitext-semibold-webfont.ttf') format('truetype'),
         url('./assets/fonts/SF-SemiBold/sfuitext-semibold-webfont.svg#sf_ui_textsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}