//Colors
$color-primary-blue:#1e73be;
$color-dark-blue:#22629a;

$color-primary-red: #ee1d25;

$color-primary-black: #696969;

$color-primary-white:#fafafa;
$color-dark-white:#f7f7f7;

$color-light-grey-1:  #adadad;
$color-light-grey-2: #ececec;

