.form-inline{

    &__group{
        display: block;
        position: relative;
        @include clearfix;
        width: 80%;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    &__input{
        width: 100%;
        height: 4.5rem;
        border: solid 1px $color-dark-white;
        padding: 13px 20px;
        border-radius: 35rem;
        transition: all .2s;

        &:focus{
            outline: none;
            box-shadow: 0 0 0 1px $color-primary-blue;
        }
    }
}


.form{
    width: 90%;

    &__group:not(:last-child){
        margin-bottom: 2rem;
    }

    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-primary-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        color: inherit;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, 0.1);
            border-bottom: 3px solid $color-primary-blue;
            transition: all .5s ease-in-out;
        }

        &::-webkit__input-placeholder{
            color:$color-primary-black;
        }

        &:focus:invalid{
            border-bottom: solid 3px $color-primary-red;
        }
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .5s ease-in-out;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group{
        width: 49%;
        display: inline-block;
    }

    &__radio-input{
        display: none;
    }

    &__radio-label{
        font-size: inherit;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -4px;
        left: 0;
        border: solid 3px $color-primary-blue;

        &::after{
            content: '';
            height: 1.7rem;
            width: 1.7rem;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $color-primary-blue;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0;
            transition: .5s all ease;
        }
    }

    &__radio-input:checked ~ &__radio-label > &__radio-button::after{
        opacity: 1;
    }

}