.site-navigation{
    width: 100%;
    background-color: $color-primary-blue;

    .navbar{
        padding: 0;
    }

    .nav-item{
        border-right: solid 1px $color-dark-blue;
        @include respond(tab-port){
            border: 0;
        }
        &:first-child{
            border-left: solid 1px $color-dark-blue;
            @include respond(tab-port){
                border: 0;
            }
        }
    }

    .nav-link,
    .nav-link:link,
    .nav-link:visited {
        color: $color-primary-white;
        padding: 1.3rem 1.5rem;
        font-family: 'sf_semibold', sans-serif;
        text-transform: uppercase;
        font-size: 1.4rem;

        @include respond(tab-land){
            padding: 1rem 1.3rem;
            width: 100%;
        }
    }

    .nav-item.active .nav-link:link,
    .nav-link:hover,
    .nav-link:active {
        color: $color-light-grey-2;
        background-color:$color-dark-blue;
    }


    .dropdown-menu {
        display: none;
        margin: 0 0 0;
        font-size: 1.3rem;
        color: $color-primary-white;
        background-color:$color-primary-blue;
        border: none;
        padding: 0 0;
        border-radius: 0;
    }

    .dropdown-menu.show {
        display: block;
    }

    .dropdown-item {
        padding: 1.3rem 1.5rem;
        font-family: 'sf_semibold', sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $color-primary-white;
        border: 0;
    }


    .dropdown-item.active, .dropdown-item:active{
        background-color:$color-dark-blue;
    }


    .dropdown-item:focus,
    .dropdown-item:hover,
    .dropdown-item.active{
        border: none;
        outline: none;
        background-color:$color-dark-blue;
    }
}

.search-form-container{

    .form-inline{
        justify-content: center;
    }
}

nav.navbar.navbar-expand-lg{

    @include respond(tab-land){
        width: 100%;
    }
}

button.navbar-toggler{
    height: 35px;
    width: 35px;
    background-color: $color-dark-blue;
}

.navbar-toggler-icon {
    display: inline-block;
    height: auto;
    font-size: 20px;
    color: $color-light-grey-2;
}